{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center" style="width: 30%;">
    <div class="col">
        <div class="fw-medium bg-secondary text-center" style="width: 30px; height: 30px; border-radius: 15px; padding: 0px;">1</div>
        <p class="fw-medium">REQUEST HEADER</p>
      </div>
      <div class="col align-items-center">
        <div class="fw-medium text-white bg-primary text-center" style="width: 30px; height: 30px; border-radius: 15px; padding: 0px;">2</div>
        <p class="fw-medium">REQUEST ITEMS</p>
      </div>
    </div>
</div>
    
<div class="row">
    <div class="col-5">
        <form method="post" class="form-control shadow m-0 fw-medium">
            <h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                </svg>
                ADD ITEMS
            </h3>
            <hr>
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success my-4 px-4">ADD</button>
        </form>
    </div>

    <div class="col-7 bg-tertiary shadow rounded border">
        <h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-boxes my-2" viewBox="0 0 16 16">
                <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
            </svg>
            REQUESTED ITEMS
        </h3>
        <hr>
        <table class="table table-striped" style="font-size: 10pt;">
            <thead>
                <tr>
                    <th>RS#</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Unit Cost</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.rs_number}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.unit}}</td>
                    <td>{{item.unit_cost}}</td>
                    <td>{{item.amount|floatformat:2}}</td>
                    <td>{{item.status}}</td>                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    


<script>
    $(document).ready(function() {
        // Event handlers for 'input' events on #qty and #unit_cost
        $('#qty, #unit_cost').on('input', function(){
            var qtyValue = parseInt($('#qty').val()) || 0;
            var unitCostValue = parseInt($('#unit_cost').val()) || 0;
            
            var rs = qtyValue * unitCostValue;
            $('#amount').val(rs);
        });
    });

</script>
{% endblock %}