{% extends 'main/base.html' %}
{% load static %}



{% block content %}

<!-- For draggables -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>   
<link rel="stylesheet" href="{% static 'jquery/jquery-ui.min.css' %}">
<script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'davao_requests/style.css' %}">

<p><a href="{% url 'go-back' %}" class="text-decoration-none text-black fw-medium" id="back">Back</a></p>
<div id="print-section" style="width: 8.5 in; height: 11 in;" class="px-lg-5">
    <div class="mx-0">
        <table class="table table-bordered mb-2" style="font-size: 9pt;">
            <tr>
                <td class="text-center col" colspan="4">
                    <div class="row">
                        <span>
                            <div style="width: 100%; height: 70px; background-color: aliceblue;"></div>
                        </span>
                    </div>
                    <div class="row">
                        <span class="">Unit D 3rd Floor, One Felicity Building, Common Wealth Avenue., <br>Telefax: (02) 931-4046/(02) 426-8261</span>
                    </div>
                </td>
                <td class="text-center">
                    <p class="py-4 fs-4 fw-medium">Requisition Slip</p>
                </td>
            </tr>
        </table>

        <table class="table table-borderless border fw-medium mb-2" style="font-size: 9pt;">
            <tr >
                <td>Payee:</td>
                <td style="width: 500px;" class="border-bottom">{{header.payee}}</td>
                <td>R.S. #:</td>
                <td class="border-bottom" id="rs_number">{{header.rs_number}}</td>
            </tr>
            
            <tr>
                <td>Particulars:</td>
                <td class="border-bottom">{{header.particulars}}</td>
                <td style="width: 150px;">Date Requested:</td>
                <td style="width: 300px;" class="border-bottom">{{header.date_requested}}</td>
            </tr>

            <tr>
                <td>Project:</td>
                <td style="width: 300px;" class="border-bottom">{{header.project}}</td>
                <td>Date Needed:</td>
                <td style="width: 300px;" class="border-bottom">{{header.date_needed}}</td>
            </tr>

            <tr>
                <td colspan="4"></td>
            </tr>
        </table>

        <table class="table table-bordered table-hover" style="font-size: 9pt;" id="items-table">
            <!-- Requested Items Table Headers -->
            <tr class="text-center fw-medium" id="table-header">
                <td style="width: 100px;">QTY</td>
                <td style="width: 100px;">UNIT</td>
                <td style="width: 500px;">DESCRIPTION</td>
                <td style="width: 150px;">UNIT COST</td>
                <td style="width:250px;">AMOUNT</td>
            </tr>
            <!-- <tr>
                <td colspan="5" style="border: 0px;"></td>
            </tr> -->
            <!-- Requested Items -->
            {% for item in items %}
            <tr>
                <td class="text-center p-1">{{ item.quantity }}</td>
                <td class="text-center p-1">{{ item.unit }}</td>
                <td class="p-1">{{ item.description }}</td>
                <td class="text-end p-1">{{ item.unit_cost }}</td>
                <td class="text-end p-1" style="height: 10px;">{{ item.amount|floatformat:2 }}</td>
            </tr>
            {% endfor %}
            {% for field in fields %}
            <tr>
                <td class="text-center p-1">&nbsp;</td>
                <td class="text-center p-1">&nbsp;</td>
                <td class="p-1">&nbsp;</td>
                <td class="text-end p-1">&nbsp;</td>
                <td class="text-end p-1">&nbsp;</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td class="fs-6 fw-medium py-2 text-center">NOTE:</td>
                <td class="fs-6 py-2 text-center"></td>
                <td class="fs-6 fw-medium py-2 text-center">PHP</td>
                <td class="fs-6 fw-medium py-2 text-end">{{total|floatformat:2}}</td>
            </tr>
            <!-- End of Requested Items -->
        </table>

        <div class="row justify-content-center">
            <div class="col align-items-center">
                <table class="table table-borderless fw-medium" style="font-size: 9pt;" id="authorized-person">
                    <tr>
                        <td>Requested by:
                            <p class=" indent-1">
                                <br>
                                <span class="position-absolute"><img src="/media/{{persons.Requested_by.1 }}" alt="" width="100px" class="draggable align-self-center"></span><br><br>
                                <span class="border-top px-4">{{persons.Requested_by.0}}</span>
                            </p>
                        </td>
        
                        <td>Prepared by:
                            <p class=" indent-1">
                                <br>
                                <span class="position-absolute"><img src="/media/{{persons.Prepared_by.1 }}" alt="" width="100px" class="draggable align-self-center"></span><br><br>
                                <span class="border-top px-4">{{persons.Prepared_by.0}}</span>
                            </p>
                        </td>
        
                        <td>Checked by:
                            <p class=" indent-1">
                                <br>
                                <span class="position-absolute"><img src="/media/{{persons.Checked_by.1 }}" alt="" width="100px" class="draggable align-self-center"></span><br><br>
                                <span class="border-top px-4">{{persons.Checked_by.0}}</span>
                            </p>
                        </td>
                    </tr>
        
                    <tr>
                        <td>Recommending Approval:
                            <p class="mt-4 indent-1">
                                <br>
                                <span class="position-absolute"><img src="/media/{{persons.Recommending_Approval.1 }}" alt="" width="100px" class="draggable align-self-center"></span><br><br>
                                <span class="border-top px-4">{{persons.Recommending_Approval.0}}</span>
                            </p>
                        </td>
        
                        <td>
                        </td>
        
                        <td>Approved by:
                            <p class="mt-4 indent-1">
                                <br>
                                <span class="position-absolute"><img src="/media/{{persons.Approved_by.1 }}" alt="" width="100px" class="draggable align-self-center"></span><br><br>
                                <span class="border-top px-4">{{persons.Approved_by.0}}</span>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <ul>
    
</div>
<script>
    $(document).ready(function(){
        $('#print-btn').on('click', function(){
            window.print();
        });
    });

    $(function(){
        $('.draggable').draggable();
    });

</script>
{% endblock %}