# Django
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Visual Studio Code
.vscode/
.django/

# PyCharm
.idea/

# Editor-specific
*.swp
*~

# Environment variables
.env

#media folder
/media

/toDelete/
/migrations

"/templates - to delete/"