{% extends 'main/base.html' %}
{% block title %} Add Authorized Persons {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <div class="row justify-content-start align-items-center">
    <div class="col-2 align-items-center">

        <a class="fw-medium text-decoration-none text-black">
            <i class="bi bi-1-circle"></i>
            REQUEST HEADER
        </a>
    </div>
    <div class="col-2 align-items-center">
            <i class="bi bi-2-circle-fill text-primary"></i>
        <a class="fw-medium">PERSONS</a>
    </div>
    <div class="col-2 align-items-center">
            <i class="bi bi-3-circle"></i>
        <a class="fw-medium text-decoration-none text-black">REQUEST ITEMS</a>
    </div>
</div> -->
<div class="row mt-3">
    <div class="col">
        <form method="post" class="form-control shadow" enctype="multipart/form-data">
            <h1>Add Authorized Person</h1>
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-dark my-3">ADD</button>
            <a href="/{{title|lower}}/list_viewRequest_items/{{persons.0.header.rs_number}}/" class="btn btn-secondary my-3">Finish</a>
        </form>
    </div>

    
    <div class="col shadow rounded">
        {% if persons %}
        <h1>Added Person</h1>
        <table class="table">
            <thead class="fs-6">
                <th>Name</th>
                <th>Title</th>
            </thead>
            <tbody>
                {% for person in persons %}
                {% with person=person.personnel %}
                <tr>
                    <td>{{person.name}}</td>
                    <td>{{person.title}}</td>
                </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-center">No Authorized Persons Added Yet</div>
        {% endif %}
    </div>
</div>
{% endblock %}