{% extends 'main/base.html' %}

{%block content-title %}
Newington Builders Personnels
{% endblock %}

{% block content %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#personnelModal">
  Add Personnel
</button>

<table id="personnel-table" class="table table-lg text-center table-striped table-hover" style="font-size: 9pt;">
  <thead>
    <th class="text-start">Name</th>
    <th>Title</th>
    <th>Signature</th>
    <th>Actions</th>
    </head>
  <tbody>
    {% for person in personnel %}
    <tr>
      <td class="align-middle text-start">{{person.name}}</td>
      <td class="align-middle text-start">{{person.title}}</td>
      <td class="align-middle"><img src="/media/{{person.signature}}" alt="" width="50px"></td>
      <td class="align-middle">
        <button type="button" class="btn btn-dark btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#edit_personnelModal{{person.id}}">Edit Personnel</button>
      </td>
    </tr>

    <!-- Modal for Editing Personnel Info -->
<div class="modal fade" id="edit_personnelModal{{person.id}}" tabindex="-1" aria-labelledby="edit_personnelModal{{person.id}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="edit_personnelModal{{person.id}}Label">Edit Personnel</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'edit_personnel' person.id %}" enctype="multipart/form-data" method="post">
        <div class="modal-body">
          {% csrf_token %}
          {% load maintags %}
          {% edit_personnelFormModal person.id %}
        </div>
        <div class="modal-footer">
          <button type='button' class="btn btn-secondary" onclick="confirmDelete()">Delete</button>
          <button type="submit" class="btn btn-outline-dark">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function confirmDelete(item_id, info) {
      if (confirm("Are you sure you want to delete  " + '{{person.id}}' + "?")) {
          window.location.href = "{% url 'delete_personnel' person.id %}";
      } else {
          // Do nothing or provide feedback to the user that the delete action was canceled.
      }
  }
</script>
    {% endfor %}
  </tbody>
</table>

<!-- Modal for Adding Personnel -->
<div class="modal fade" id="personnelModal" tabindex="-1" aria-labelledby="personnelModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="personnelModalLabel">Add Personnel</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'save_personnel' %}" enctype="multipart/form-data" method="post">
        <div class="modal-body">
          {% csrf_token %}
          {% load maintags %}
          {% personnelFormModal %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  $(function () {
    $('#personnel-table').DataTable();

    var active = document.getElementById('personnel-nav');
    var current = document.getElementById('side-navbar');
    var current = current.getElementsByClassName('active');
    current[0].className = current[0].className.replace("active", "");
    active.className += " active";
  });
</script>
{% endblock %}