{% extends 'main/base.html' %}
{% block content-title %} {{title}} Request Report {% endblock %}
{% block content %}

<div class="table-responsive small rounded shadow p-3 mb-3">
    <table class="table table-striped table-sm table-hover" id="reports-data-table">
        <thead>
            <tr>
                <th>RS Number</th>
                <th>Particulars</th>
                <th>Payee</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for r in req %}
            <tr>
                <td>{{r.rs_number}}</td>
                <td>{{r.particulars}}</td>
                <td>{{r.payee}}</td>
                <td class="text-center">
                    {% if title == 'Davao' %}
                    <a href="{% url 'davao_rsView' r.rs_number %}" role="button"
                        class="btn btn-outline-dark btn-sm">
                        <i class="bi bi-printer-fill"></i>
                        <span class="visually-hidden">Button</span>
                        Preview
                    </a>
                    {% elif title == 'Cotabato' %}
                    <a href="{% url 'cotabato_rsView' r.rs_number %}" role="button"
                        class="btn btn-outline-dark btn-sm">
                        <i class="bi bi-printer-fill"></i>
                        <span class="visually-hidden">Button</span>
                        Preview
                    </a>
                    {% elif title == 'Negros' %}
                    <a href="{% url 'negros_rsView' r.rs_number %}" role="button"
                        class="btn btn-outline-dark btn-sm">
                        <i class="bi bi-printer-fill"></i>
                        <span class="visually-hidden">Button</span>
                        Preview
                    </a>
                    {% elif title == 'Surigao' %}
                    <a href="{% url 'surigao_rsView' r.rs_number %}" role="button"
                        class="btn btn-outline-dark btn-sm">
                        <i class="bi bi-printer-fill"></i>
                        <span class="visually-hidden">Button</span>
                        Preview
                    </a>
                    {% elif title == 'Bukidnon' %}
                    <a href="{% url 'bukidnon_rsView' r.rs_number %}" role="button"
                        class="btn btn-outline-dark btn-sm">
                        <i class="bi bi-printer-fill"></i>
                        <span class="visually-hidden">Button</span>
                        Preview
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#reports-data-table').DataTable()
    });
    var active = document.getElementById('view-reports-nav');
    var current = document.getElementById('side-navbar');
    var current = current.getElementsByClassName('active');
    current[0].className = current[0].className.replace("active", "");
    active.className += " active";
</script>

{% endblock %}