{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col">
        <form method="post" class="form-control shadow">
            <h1>Cotabato Request Form</h1>
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success mt-3 mb-3">Submit</button>
        </form>
    </div>
    
  <script>
    $(function () {
      $("#requested_datepicker").datepicker();
    });

    $(function () {
      $("#needed_datepicker").datepicker();
    });
  </script>
</div>

{% endblock %}